.containerColumns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(63, 13, 156);
    max-width: 100%;
}

.c2{
    width: 120%;
    overflow-y: scroll;
    height: 100vh;
}

.card {
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}